div {
    width: 80%;
}

table {
    width: 100%;
    border: 1px;
}

th {
    font-size: 14px;
    vertical-align: middle;
}

// .edit {
//   margin-right: 10px;
// }
// .edit>i {
//   color: #6b5ee3;
// }
// .delete>i {
//   color: #e35e6b;
// }
